  <!-- Contact -->


<section id="contact" class="home-section">
  <div class="container">
    <div class="col-md-12 col-xs-12">
      <div class="col-md-offset-3 col-md-6 col-xs-12 section-heading">
          <h2 class="glow white">Contact Me</h2>
      </div>    
      <div class="form-group">
        <%= form_for Post.new do |f| %>
        <div class="col-md-offset-2 col-md-8 field container-fluid wide pad-1">
<<<<<<< HEAD
        <p><a class="white" href="https://www.dropbox.com/s/t4uriy01ake346b/Resume-14-W12-PDF.pdf?dl=0" target="_blank" >Link to my Resume</a>, or just drop me a line below</p>
=======
        <p><a class="white" href="https://www.dropbox.com/s/f3fmj2dvz57e0nu/Resume-14-W10-BC.pdf?dl=0">Link to my Resume</a>, or just drop me a line below</p>
>>>>>>> master
          <%= f.text_field :name, placeholder: "Name:", class: "form-control text-left col-md-8  container-search teal" %>
        </div>
        <br>
      
        <div class="col-md-offset-2 col-md-8 field container-fluid wide pad-1">
          <%= f.text_field :email, placeholder: "Email:", class: "form-control text-left container-search col-md-8 teal"  %>
        </div>
        <br>
      
      
        <div class="col-md-offset-2 col-md-8 field container-fluid wide pad-1">
          <%= f.text_area :body, placeholder: "Message:", rows: 5, class: "form-control text-left container-search teal"  %>
        </div>
      </div>
      <br>
      
      <div class="col-md-offset-2 col-md-8">
        <%= submit_tag "Send Message", class: "black btn bg-white" %> <br>
      <% end %>
      </div>  
    </div>
  </div>
  <br><br>
  


  
</section>  
    
  