<!-- Dynamic Modal -->
<% bc_projects %>
<% @projects.each do |mod_item| %>
  <div class="modal fade" id="<%= mod_item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-site">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= mod_item.project_name %></h4>
        </div>
        <div class="modal-body black">
          <%= link_to image_tag(mod_item.project_img, alt: mod_item.project_name, class: "image-responsive width-100P"), mod_item.project_url %>
          <br>
          <br>
          <p><%= mod_item.project_description  %></p>
          <div class="col-md-12 bg-dark-pattern white curved-3 pad-5P-down">
            <p class="col-md-6">Featured Language:<br><span class="glow2 white"><%= mod_item.project_feature_lang  %></span></p>
            <p class="col-md-6">Current Status:<br><span class="glow2 white"><%= mod_item.project_state  %></p>
          </div>
          <p>Contributions:<br><span class="glow2"><%= mod_item.project_stack %></span></p>
          <% if mod_item.project_source_url != "closed" && mod_item.project_url != "none" %>
            <p><%= link_to "Source Link", mod_item.project_source_url  %> • <%= link_to " Project Link", mod_item.project_url  %></p>
          <% elsif  mod_item.project_source_url == "closed" %>
            <p>Source Closed • <%= link_to "Project Link", mod_item.project_url  %></p>
          <% elsif  mod_item.project_url == "none" %>
            <p><%= link_to "Source Link", mod_item.project_source_url  %> • URL not available </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Projects -->
<div class="bg-site">
  <section id="works" class="home-section">
    <div class="container">
      
      <div class="row">
        <div class="col-md-offset-0 col-md-12">
          <div class="section-heading">
            <h2 class="glow black">Projects</h2>
            <p class="black glow">I've pushed a commit or two so far...Only 42,000 to go!</p>
          </div>
        </div>
      </div>


      
      <!-- dynamic project layout -->
      <!-- slider  -->
      <div class="container bg-dark-pattern curved-3 pad-2P">
      <br>
        <div class="col-md-12 col-xs-12" id="owl-slider">
          <% @projects.each do |item| %>
          <div class="item"><a href="#" data-toggle="modal" data-target="#<%= item.id %>">
            <h4 class="white glow"><%= item.project_name %></h4>
            <br>
            <%= image_tag(item.project_img, alt: item.project_name, class: "mobile-js image-responsive max-500") %>
            <br>
            <br>
          </a></div>
          <% end %>        
        </div>    
      </div>
    </div>
  </section>
</div>
