<!-- Techs -->
  <div class="bg-site">
   <section id="services" class="home-section">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">The Stack</h2>
           <p class="black glow">In all my life I've never seen a list I was so sure would be growing...Quickly</p>
          </div>
          </div>
        </div>

        <div class="row">
          
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="service-box wow bounceInUp pad-5P-LR" data-wow-delay="0.1s">
              <%= image_tag("techs/badge-ruby.png", :alt => "Ruby", class: "image-responsive max-200") %>
              <h4 class="black glow text-center">The<br>Base</h4>
              <p class="black glow">Rock solid foundation<br>of my personal code base.</p>
            </div>
          
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.3s">
              <%= image_tag("techs/badge-ror.png", :alt => "Ruby On Rails", class: "image-responsive max-200") %>
              <h4 class="black glow">The<br>Rails Way</h4>
              <p class="black glow">My preferred environment.<br>Modern solid web framework.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.5s">
              <%= image_tag("techs/badge-jquery.png", :alt => "jQuery", class: "image-responsive max-200") %>
              <h4 class="black glow">Shala Bing<br>Hazza!</h4>
              <p class="black glow">Yay I can do "magic" things on the INTERWEBs!</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.7s">
              <%= image_tag("techs/badge-js.png", :alt => "JS", class: "image-responsive max-200") %>
              <h4 class="black glow">I know<br>a bunch</h4>
              <p class="black glow">Yet, the most important thing to know, is how much I don't know yet.</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.7s">
              <%= image_tag("techs/badge-git.png", :alt => "Git", class: "image-responsive max-200") %>
              <h4 class="black glow">Strong<br>Commit History</h4>
              <p class="black glow">Should tell an story. piece by tiny piece.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.5s">
              <%= image_tag("techs/badge-css.png", :alt => "Git", class: "image-responsive max-200") %>
              <h4 class="black glow">Awesome<br>Styling</h4>
              <p class="black glow">Because no one wants to looks at an ugly website</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.3s">
              <%= image_tag("techs/badge-html.png", :alt => "Git", class: "image-responsive max-200") %>
              <h4 class="black glow">Semantic<br>Tags</h4>
              <p class="black glow">Tags should make sense, code should be readable, duh...</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.1s">
              <%= image_tag("techs/badge-sinatra.jpg", :alt => "Git", class: "image-responsive max-200") %>
              <h4 class="black glow">Like<br>Frank said</h4>
              <p class="black glow">Ruby is more than just Rails. Simple & clean, I has the hearts</p>
            </div>
          </div>
          

        </div>  
    </div>
  </section>
</div>