<!-- Techs -->
  <div class="bg-site">
   <section id="services" class="home-section">
    <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
           <h2 class="black glow">The Stack</h2>
           <p class="black glow">In all my life I've never seen a list I was so sure would be growing...Quickly</p>
          </div>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="service-box wow bounceInUp pad-5P-LR" data-wow-delay="0.1s">
              <%= image_tag("techs/badge-react.png", :alt => "React", class: "image-responsive max-200") %><br>
              <h4 class="black glow text-center">Virtual<br>Domtastic</h4>
              <p class="black glow">Keeping components<br>super clean and legit<br>since 2013.</p>
            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.3s">
              <%= image_tag("techs/badge-ror.png", :alt => "Ruby On Rails", class: "image-responsive max-200") %><br>
              <h4 class="black glow">Rails<br>as an API</h4>
              <p class="black glow">Postgres & REST<br>This solid backend<br>gets it done.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.5s">
              <%= image_tag("techs/badge-jquery.png", :alt => "jQuery", class: "image-responsive max-200") %><br>
              <h4 class="black glow">Shala Bing<br>Hazza!</h4>
              <p class="black glow">Yay I can do "magic" things on the INTERWEBs!</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.7s">
              <%= image_tag("techs/badge-js.png", :alt => "JS", class: "image-responsive max-200") %><br>
              <h4 class="black glow">Frameworks<br>a plenty</h4>
              <p class="black glow">Practicing vanilla<br>JS will render<br>you agnostic.</p>
            </div>
          </div>

        </div>

        <div class="row">
        <hr>
        </div>

        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.7s">
              <%= image_tag("techs/badge-git.png", :alt => "Git", class: "image-responsive max-200") %><br>
              <h4 class="black glow">Strong<br>Commit History</h4>
              <p class="black glow">Should tell a story. Piece by tiny piece.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.5s">
              <%= image_tag("techs/badge-sass.png", :alt => "Sass", class: "image-responsive max-200") %><br>
              <h4 class="black glow">Awesome<br>Styling</h4>
              <p class="black glow">Mixing in visual appeal<br>gets a lot easier<br>with variables.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="service-box wow bounceInUp pad-5P-LR" data-wow-delay="0.1s">
              <%= image_tag("techs/badge-ruby.png", :alt => "Ruby", class: "image-responsive max-200") %><br>
              <h4 class="black glow text-center">The<br>Base</h4>
              <p class="black glow">Rock solid foundation<br>of my personal code base.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pad-5P-LR">
            <div class="service-box wow bounceInUp" data-wow-delay="0.1s">
              <%= image_tag("techs/badge-sinatra.jpg", :alt => "Sinatra", class: "image-responsive max-200") %><br>
              <h4 class="black glow">Like<br>Frank said</h4>
              <p class="black glow">Ruby is more than just Rails. Simple & clean, I has the hearts.</p>
            </div>
          </div>


        </div>
    </div>
  </section>
</div>
