<!-- Gallery -->
  <div class="bg-car height1000">
    <section id="about" class="home-section">
      <div class="container">
        


        <!-- slider  -->
        <div class="container col-md-12 col-xs-12 pad-2P">
        <br>
          <div class="row col-md-6 col-md-offset-5" id="gallery-slider">
                      
            <div class="item">
              <%= image_tag("gallery/HTC-NKG-Matz.jpg", class: "img-responsive max-500 curved-11") %>
              <h2 class="white-text glow">MATZ!</h2>
            </div>
            <div class="item">
              <%= image_tag("gallery/dbc.jpg", class: "img-responsive max-500 curved-11") %>
              <h2 class="white-text glow">@DBC.first</h2>
            </div>
            <div class="item">
              <%= image_tag("gallery/dbc-last.jpg", class: "img-responsive max-500 curved-11") %>
              <h2 class="white-text glow">@DBC.last</h2>
            </div>
            <div class="item">
              <%= image_tag("gallery/tags.jpg", class: "img-responsive max-500") %>
              <h2 class="white-text glow">@DBC.tags</h2>
            </div>
            <div class="item">
              <%= image_tag("gallery/urbie-shot.jpg", class: "img-responsive max-500") %>
              <h2 class="white-text glow">URBIE</h2>
            </div>
            <div class="item">
              <%= image_tag("gallery/star-trek.jpg", class: "img-responsive max-500") %>
              <h2 class="white-text glow">Chiiling in SF</h2>
            </div>
            <div class="item">
              <%= image_tag("gallery/sydney.jpg", class: "img-responsive max-500") %>
              <h2 class="white-text glow">Me and my Bro</h2>
            </div>
          </div>    
        </div>

      </div>    
    </section>
  </div>