
<div class="single-display-area">

	<div id="single-display-spacers">

		<!-- spacer -->  

		<section class="home-section spacer">  
		  <div class="container">
		    <div class="row">
		      <div class="col-md-12">
		        <div class="curved-1 bg-space">
		          
							<section class="index-spacer" id="index-spacer0">
							  <%= render partial: "spacer0" %>
							</section>

							<section class="index-spacer" id="index-spacer1">
							  <%= render partial: "spacer1" %>   
							</section>

							<section class="index-spacer" id="index-spacer2">
							  <%= render partial: "spacer2" %>
							</section>

							<section class="index-spacer" id="index-spacer3">
							  <%= render partial: "spacer3" %>
							</section>

		        </div>
		      </div>        
		    </div>
		  </div>
		</section> 
		
	</div>

	<div id="single-display-sections">

		<div class="index-section" id="index-skills">
		  <%= render partial: "skills" %>
		</div>

		<div class="index-section" id="index-history">
		  <%= render partial: "history" %>
		</div>

		<div class="index-section" id="index-projects">
		  <%= render partial: "projects" %>
		</div>

		<div class="index-section" id="index-contact">
		  <%= render partial: "contact" %>
		</div>
	</div>
	<div id="index-footer">
	  <%= render partial: "footer" %>
	</div>
</div>

<!-- #spacer4, #projects, #spacer1, #tech, #spacer2, #history, #spacer3, #contact, #footer -->