div>ul>li*3
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :project_description %><br>
    <%= f.text_area :project_description %>
  </div>
  <div class="field">
    <%= f.label :project_url %><br>
    <%= f.text_area :project_url %>
  </div>
  <div class="field">
    <%= f.label :project_source_url %><br>
    <%= f.text_area :project_source_url %>
  </div>
  <div class="field">
    <%= f.label :project_img %><br>
    <%= f.text_area :project_img %>
  </div>
  <div class="field">
    <%= f.label :project_feature_lang %><br>
    <%= f.text_field :project_feature_lang %>
  </div>
  <div class="field">
    <%= f.label :project_state %><br>
    <%= f.text_field :project_state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
