<div class="bg-dark">
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :project_name %><br>
      <%= f.text_field :project_name, class: "txt-black" %>
    </div>
    <div class="field">
      <%= f.label :project_description %><br>
      <%= f.text_area :project_description, class: "txt-black" %>
    </div>
    <div class="field">
      <%= f.label :project_url %><br>
      <%= f.text_area :project_url, class: "txt-black" %>
    </div>
    <div class="field">
      <%= f.label :project_source_url %><br>
      <%= f.text_area :project_source_url, class: "txt-black" %>
    </div>
    <div class="field">
      <%= f.label :project_img %><br>
      <%= f.text_area :project_img, class: "txt-black" %>
    </div>
    <div class="field">
      <%= f.label :project_feature_lang %><br>
      <%= f.text_field :project_feature_lang, class: "txt-black" %>
    </div>
    <div class="field">
      <%= f.label :project_state %><br>
      <%= f.text_field :project_state, class: "txt-black" %>
    </div>
    <div class="actions txt-black">
      <%= f.submit %>
    </div>
  <% end %>
</div>