<!DOCTYPE html>
<html>
  <head>
    <title>Hunter T. Chapman -- BootCoder</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <%= stylesheet_link_tag "application", media: "all" %>
  	<%= javascript_include_tag "application" %>
  	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  	<%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: "header" %>
    <%= yield %>
  </body>	
</html>